@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.login-page {
    width: 400px;
    padding: 2% 0 0;
    margin-left: 900px;
    margin-top: -30px;
}
.login-page2 {
    width: 820px;
    padding: 2% 0 0;
    margin-left: 10px;
    margin-top: -20px;
}
.header{
    color: #FFFFFF;
    text-align: center;
    opacity: 0.7;
    border-radius: 5px;
}
.form {
    height: auto;
    z-index: 1;
    background: #ffffffee;
    max-width: 360px;
    margin: 0 auto 100px;
    border-radius: 5px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(44, 44, 44, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);   
}

.form2{
   
    height: 540px;
    background: #2c2c2cea;
    max-width: 800px;
    border-radius: 5px;
    padding: 20px;
    position: fixed;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 20px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #0062b3;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    background: #02275e;
    color: white;
}

.form .message {
    margin: 15px 0 0;
    color: #4d4d4d;
    font-size: 12px;
}

.form .message a {
    color: #666666;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #9c2727;
}



body {
	
    background: linear-gradient(to left, rgba(235, 255, 243, 1), rgba(232, 232, 232, 1), rgba(255, 233, 233, 1));
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     background-repeat: no-repeat;
    background-attachment: fixed;
    background-image:url("esimez2.jpg");
    background-size: cover;

    
}

#logo2 {
    width: 43%;
}

.text-logo {
    margin-top: 4px;
    font-size: 20px;
    color: maroon;
    float: left;
    font-weight: bold;

}
#text-info-title{
    color:rgb(226, 226, 226);
    font-size: 25px;
    text-align: center;
}
#text-info-body{
    color:rgb(226, 226, 226);
    font-size: 20px;
    text-align: left;
}
.error {
    color: #FF1C19;
}
.done {
    color: #0e804a;
}
.form .message a {
    color: #1a5e7e;
    text-decoration: none;
}


input:not(:placeholder-shown):invalid {
    border: 1px solid red;
    background-color: pink;
}

.link{
    color: rgb(226, 226, 226);
}

.link:hover{
    text-decoration: none;
    color: #5099bb;
}